*{
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

/*-----------------------HEADER-------------------------*/
/*######################################################*/

header {
    width: 100%;
    height: 700px;
    margin: auto;
    overflow: hidden;
    background: url(img/montanas-en-lago-al-atardecer_3840x2160_xtrafondos.com.jpg);
    background-position: center;
    background-size: auto;
    justify-content: space-between;
    box-sizing: border-box;
}

header .menu-header {
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    margin: auto;
    background: #343434;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

header .menu-header .icon {
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

header .menu-header .icon img{
    margin: 15px;
}

header .menu-header .Titulo{
    color: aliceblue;
}

header .menu-header .icon input {
    display: inline-block;
    padding: 0 20px;
    align-items: center;
}


header .menu-header a {
    color: #fff;
    padding: 20px 20px;
    text-decoration: none;
    box-sizing: border-box;
}

header .menu-header a:hover {
    border: 2px solid  #fff;
}

/*-----------------------BODY---------------------------*/
/*######################################################*/


main .presentacion {
    width: 100%;
    margin-top: 100px ;
    margin-bottom: 50px;
    display: flexbox;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

